body {
  background-image: url(./images/stone-background.jpg);
}

h1 {
  margin: 0;
  color: #2c1a0f;
  font-size:30px;
}

a {
  text-decoration: none;
  color: #2c1a0f;
  cursor: pointer;
}

a:hover {
  color: grey;
}

a:visited {
  text-decoration: none;
}

p {
  margin: 8px;
}

div {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  width: 40%;
}

li {
  list-style: none;
}

footer {
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
}

#content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 97.5vh;
}

.splash-image {
  margin: 0 auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  border-radius: .25%;
  width: 50%;
}

.pitch {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.entrees, #contact-us {
  margin-top: 5%;
}

.entree, .drinks {
  margin-bottom: 2%;
}

.entree > h2 {
  margin: 0;
}

.drinks > h2 {
  margin: 0;
}

div.entrees > h1, div.drinks > h1 {
  margin-bottom: 2%;
}
